@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tw Cen MT Condensed Bold";
  src: url("./assets/fonts/TwCenMTCondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@layer base {
  html,
  body {
    @apply overflow-x-hidden;
  }
}

.training-syllabus p{
 margin-bottom:0.5rem;
}
.training-content h1{
  font-size:1.5rem;
  margin:1rem 0;
} 
.training-syllabus h2{
  font-size:1.4rem;
  margin:1rem 0;
}
